
doctype html
html
  head
    title Pictori
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://use.fontawesome.com/a3a71a0323.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/cookies.js')
    script(src='/javascripts/application.js')

  body
    .fluid-container
      .row
        .col-lg-4.col-md-4.navbar-right
          ul.nav.navbar-nav.navbar-right
            if currentUser
              li: p.navbar-text Signed in as #{currentUser.firstname + ' '+ currentUser.lastname}
              li: a(href='/user/logout') Log Out
            else
              li: a(href='/user/signup') Sign Up
              li: a(href='/user/login') Log In
      .row
        .col-lg-12.col-md-12.navbar
          ul.nav.navbar-nav.navbar
            a.btn-default.fa.fa-1x.fa-camera.headnav(href='/imagepost/new') Upload
            a.btn-default.fa.fa-1x.fa-home.headnav(href='/') Home
            a.btn-default.fa.fa-1x.fa-user.headnav(href='/myimagepost') My Posts
    .fluid-container
      .row
        block body