//new layout
doctype html
html
  head
    meta(charset='UTF-8')
    title Pictory
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Capriola")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Text+Me+One")
    script(src='https://use.fontawesome.com/a3a71a0323.js')
    script(src='/javascripts/jquery.js')
    //script(src='/javascripts/bootstrap.js')
    //script(src='/javascripts/cookies.js')
    //script(src='/javascripts/application.js')
  body
    .container-fluid
      .navbar-header.nav.navbar
        p.logo: a(href='/imagepost')
          img(src='/images/logo-blk.png') 
      .row
          ul.nav.navbar-nav.navbar-right.navbar1
            if currentUser
              li: p.navbar-text Signed in as #{currentUser.firstname + ' '+ currentUser.lastname}
              li: a(href='/user/log-out') Log Out        
            else
              li: a(href='/user/sign-up') Sign Up
              li: a(href='/user/log-in') Log In          
      .row
        .col-xs-12.col-md-12.col-lg-12
          .imagepost6
            a.headnav(href='/imagepost') 
              img(src='/images/allstoriesSM.png' title='All Stories')
            a.headnav(href='/myimagepost') 
              img(src='/images/mystoriesSM.png' title='My Stories')
            a.headnav(href='/imagepost/new') 
              img(src='/images/addstorySM.png' title='New Story')     
    p.center: img(src='/images/line.png')  
  block body



