extends ../layout

block body
	h1.heading Log In
	include ../errors
	form(action='/user/log-in', method='post')
		div.form
			.form-horizontal
				control-label.col-sm-5(for='username') Email
				input.form-group(name='username', autofocus)
			.form-horizontal
				control-label.col-sm-5(for='password') Password
				input.form-group(name='password', type='password')
			.form-horizontal.button
				control-label.col-sm-5
				input.btn.btn-default(type='submit', value='Log In')