extends ../layout

block body
	h1 Log In
	form(action='/user/log-in', method='post')
		.form-group
			label(for='username') Email
			input.form-control(name='username', autofocus)
		.form-group
			label(for='password') Password
			input.form-control(name='password', type='password')
		.form-group
			input.btn.btn-primary.btn-lg(type='submit', value='Log In')