extends ../layout

block body
	h1 Sign Up
	include ../errors
	form(action='/user/sign-up', method='post', novalidate)
		.form-group
			label(for='firstname') FirstName
			input.form-control(name='firstname', value=user.firstname, autofocus)
		.form-group
			label(for='lastname') Lastname
			input.form-control(name='lastname', value=user.lastname, autofocus)
		.form-group
			label(for='email') Email
			input.form-control(name='email', type='email', value=user.email)
		.form-group
			label(for='password') Password
			input.form-control(name='password', type='password', value=user.password)
		.form-group
			input.btn.btn-primary.btn-lg(type='submit', value='Sign Up')