extends ../layout

block body
	h1.heading New Story
	include ../errors
	form(action='/imagepost', method='post', enctype='multipart/form-data')
		div.form
			.form-group
				label(for='title') Title 
				input.form-control(name='title', autofocus)
			.form-group
				label(for='body') Pic Story
				textarea.form-control(name='body')
			.form-group
				label(for='image') Image
				input.form-group(name='image', type='file')
			.form-group.button.center
				input.btn.btn-default(type='submit', value='Create')