extends ../layout

block body
	h3.center Edit Story
	form(action=`/myimagepost/${post.id}/edit`, method='post')
		div.form
			.form-group
				label(for='title') Title
				textarea.form-control(name='title')= post.title

			.form-group
				label(for='body') Pic Story
				textarea.form-control(name='body')= post.body

			.form-group.button.center
				input.btn.btn-default(type='submit', value='Submit')